* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  background: linear-gradient(180deg, #ffffff 30%, #e6ddca 100%);
  color: #292212;
}
